table{
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid black;
}

th{
    background-color: orange;
    color: white;
    border-left: 1px solid black;
}

td{
    text-align: center;
    border-left: 1px solid black;
}

th:first-child{
    border-left: none;
}

td:first-child{
    border-left: none;
}

caption{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}